/* Navbar underlines experiment
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
  background-color: #f5f5f5;
  border-bottom:4px solid #616161;
  margin-bottom:-4px;
}
*/
  .login-bg {
    background: url('img/bg-lab-lowres.jpg') no-repeat center center fixed;

    position:fixed;
    width:200%;
    height:200%;
    left:-50%;
  }

  .login-bg img {
    /*
    display:none;
    */
    margin:auto;
    min-width:50%;
    min-height:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }

  .login-footer {
    bottom:30px;
    color:#fff;
    font-size:11px;
    position:absolute;
    text-align:center;
    width:100%;
    /*
    text-shadow: 0px 0px 2px #560f27, 0 0 1em #560f27, 0 0 0.2em #560f27;
    */
  }
/*
Firefox Fix For Freaky Fieldset
*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.img-responsive-full {
  display: block;
  width: 100%;
  height: auto;
}

.common-footer {
  margin-top:5px;
  padding:10px;
  font-size:11px;
  text-align:center;
}

  .main-bg {
    background: url('img/crystal-bg.pg') no-repeat center center fixed;

    position:fixed;
    width:200%;
    height:200%;
    left:-50%;
  }

  .main-bg img {
    /*
    display:none;
    */
    margin:auto;
    min-width:50%;
    min-height:50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
