p{
	color:#2196f3;
	color:hsl(349,74%,50%);
	color:#dd2143;

	color:#0a6ebd;
	color:hsl(349,89%,48%);
	color:#e70d35;

	color:#0d87e9;
	color:hsl(345,80%,40%);
	color:#b7143d;

	color:#0c7cd5;
	color:hsl(345,70%,35%);
	color:#971a3a;

	color:#dd2144;
	color:hsla(207,89%,48%,1);

	color:#428bca;
	color:hsl(349,56%,53%);
	color:#ca445c;

	color:hsla(349,60%,40%,1);
	color:hsla(359,50%,30%,1);
	color:hsla(340,70%,20%,1);
}